.section-card {
  width: 100%;
  display: flex;
  padding: 5rem 1.5rem 4rem 4.5rem;

  &__image {
    height: 25rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.6rem;
    background-size: cover;
  }

  &__description {
    padding: 0 0 2rem 2rem;
  }

  &__graph {
    width: 90%;
    height: 90%;
  }
}

.page {
  padding: 5rem 0;
  text-align: center;
}
